PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USER=petradar_user
DB_PASSWORD=your_secure_password
DB_NAME=petradar_db
REDIS_HOST=localhost
REDIS_PORT=6379
APPINSIGHTS_CONNECTION_STRING=
MAILER_SERVICE=gmail
MAILER_EMAIL=
MAILER_PASSWORD=
MAPBOX_TOKEN=
